/* default styles */
:root {
  --white: white;
  --grayish: rgb(59, 59, 59);
}

body {
  background-color: rgb(0, 162, 255);
  color: black;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

button,
.back-button {
  background-color: transparent;
  color: white;
  border: 0;
  display: inline-block;
  width: 100px;
}

button.with-text {
  color: black;
}

.play-pause {
  display: flex;
  justify-content: center;
  width: 100%;
}

.edit-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


/* settings screen */
.settings {
  background: var(--grayish);
  color: white;
  width: 100%;
  font-size: 3rem;
  padding: 20px;
}

.work-break {
  display: flex;
  flex-direction: column;
}

.settings-back-button {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 1rem;
}
