/* default styles */
:root {
  --white: white;
  --grayish: rgb(59, 59, 59);
  --blue: rgb(57, 182, 254);
  font-family: monospace;
}

body {
  background-color: rgb(57, 182, 254);
  color: black;
  width: 100%;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

button,
.back-button {
  background-color: transparent;
  color: white;
  border: 0;
  display: inline-block;
  width: 100px;
}

button.with-text {
  color: black;
}

.play-pause {
  display: flex;
  justify-content: center;
  width: 100%;
}

.edit-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


/* settings screen */
.settings {
  background: var(--white);
  color: black;
  width: 60%;
  font-size: 3rem;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.work-break {
  display: flex;
  flex-direction: column;
}

.settings-back-button {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 1rem;
  color: black;
}

.slider-label {
  font-family: serif;
}

/* To do settings */
.todoPanel {
  background: white;
  padding: 0px 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}

.todo-input {
  border: 2px solid rgb(0, 162, 255);
  border-radius: 5px;
  width: 98%;
}

.task-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 5px;
  background: rgb(255, 72, 72);
  max-width: 100%;
  width: 100%;
  position: relative;
}

.task-label {
  color: white;
}

.complete {
  background-color: rgb(51, 204, 51);
}

.delete-icon,
.edit-icon,
.check-icon{
  color: white;
  height: 1rem;
  width: 1rem;
}

.check-icon {
  max-width: 8%;
}

.complete .icons .delete-icon,
.complete .icons .check-icon {
color: red;
}

.complete .icons .edit-icon{
  color: black;
}

.panelDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 460px;
  padding: 10px;
}

.task-text {
  max-width: 84%;
  overflow-wrap: break-word;
  font-weight: 380;

}

.complete .task-text {
  text-decoration: line-through;
}

.icons {
  display: flex;
  max-width: 8%;
}

.panelDiv h1 {
  font-family: monospace;
}